{% extends 'layout.html' %}

{% block title %}Spam Checker{% endblock %}

<div class="content" align="center" style= "background-color:#5b6574;">
	{% block content %}
		<div align="center">
		<p>Machine Learning Application for Classifying Spam & Non-Spam Messages</p>
		</div>
		<div align="center">
		<p>Flask Application deployed on Google Cloud Platform</p>
		<form id="myform" action="{{ url_for('check')}}" method="POST" align="center">			
		<p>Enter Your Message Here..</p>
		<textarea name="comment" rows="5" cols="50"></textarea>
		<br/>
		<input type="submit" class="btn-info" value="Predict">
		</form>
		</div>
	{% endblock %}
</div>
